<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title>Calculator</title>
        <base href="/">
        <link rel="stylesheet" href="../dist/dist/bundle.css">
        <script src="../dist/bundle.js"></script>
    </head>
    <body>

        <div ng-controller="phoneController">
            <p>Name: {{phone.name}}</p>
            <p>Price: {{phone.price}} $</p>
            <p>Brand: {{phone.company.name}}</p>
            <p>Country: {{phone.company.country}}</p>
        </div>
<hr>
        <div ng-controller="phoneController">
            <span ng-bind="phone.name"></span>
        </div>
            
            </script>
    </body>
</html>



























<!-- <div class="wrapper" ng-app="app" ng-controller="test">

        <div class="outputArea">0</div>
        <div class="elements">
            <button class="element control" ng-click="">AC</button>
            <button class="element control" ng-click="">+/-</button>
            <button class="element control" ng-click="">%</button>
            <button class="element operator" ng-click="">÷</button>
            <button class="element number" ng-click="">7</button>
            <button class="element number" ng-click="">8</button>
            <button class="element number" ng-click="">9</button>
            <button class="element operator" ng-click="">×</button>
            <button class="element number" ng-click="">4</button>
            <button class="element number" ng-click="">5</button>
            <button class="element number" ng-click="">6</button>
            <button class="element operator" ng-click="">−</button>
            <button class="element number" ng-click="">1</button>
            <button class="element number" ng-click="">2</button>
            <button class="element number" ng-click="">3</button>
            <button class="element operator" ng-click="">+</button>
            <button class="element number wide" ng-click="">0</button>
            <button class="element number" ng-click="">,</button>
            <button class="element operator" ng-click="">=</button>
        </div>
    </div>  -->
