<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../dist/dist/bundle.css">
    <script src="../dist/bundle.js"> </script>
    <title>Document</title>
</head>
<body>
    <h1>Govinda</h1> 

    {{1+1}}

    <div ng-controller="myController">
        {{name}}
    </div>

    <input type="text" ng-model="text">
    <p>{{text}}</p>

    <h1 class="class1" 
        ng-class="{'new-class': text == 'Oksana'}">
                Hello, 
                    <span ng-if="text">{{text}}</span>
                    <span ng-if="!text">World!</span>
    </h1>

    <div ></div>
    <div ng-controller="Test">
       <p>Hello,{{hello}}</p> 
    </div>

</body>
</html>